@{
}

@model Purchase

<h2>Checkout</h2>
<p>Thank you for thinking of us in you literary exploration. We know you have many choices when shopping for books, but we are glad to have served you today. Hope you enjoy your selection and we'll see you here again, shortly.</p>

<form method="post" asp-controller="Purchase" asp-action="Checkout">

    <div asp-validation-summary="All" class="text-danger"></div>

    <h4>Ship to:</h4>
    <div class="form-group">
        <label asp-for="Name">Name:</label><input asp-for="Name" class="form-control" />
    </div>

    <h4>Address</h4>
    <div class="form-group">
        <label asp-for="AddressLine1">Address line 1:</label>
        <input asp-for="AddressLine1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine2">Address line 2:</label>
        <input asp-for="AddressLine2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AddressLine3">Address line 3:</label>
        <input asp-for="AddressLine3" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City">City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="State">State:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div>
        <label asp-for="Zip">Zip Code:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div>
        <label asp-for="Country">Country</label>
        <input asp-for="Country" class="form-control" />
    </div>

    <div class="form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" asp-for="IsGift" /> Purchased as Gift
        </label>
    </div>
    <br />
    <div class="float-end">
        <input class="btn btn-primary" type="submit" value="Complete Transaction" />
    </div>
</form>